@model IEnumerable<ControllRR.Application.Dto.PurchaseOrderDto>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Nº Nota Fiscal</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                <td>@order.InvoiceNumber</td>
                <td>@order.TotalAmount.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>