@model ControllRR.Application.Dto.PurchaseItemDto
<!-- Modal para Movimentações -->
<div id="nfeProducts" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl"> <!-- Aumentado para extra grande -->
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Cadastro Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
<form asp-controller="Suppliers" asp-action="AddPurchaseItem" method="post" class="row g-3">
    <input type="hidden" asp-for="PurchaseOrderId" />

    <div class="col-md-4">
        <label asp-for="StockId" class="form-label"></label>
        <select asp-for="StockId" class="form-control" asp-items="ViewBag.SupplierProducts">
            <option value="">Selecione o Produto</option>
        </select>
    </div>

    <div class="col-md-2">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control" min="1" required />
    </div>

    <div class="col-md-3">
        <label asp-for="UnitPrice" class="form-label"></label>
        <input asp-for="UnitPrice" class="form-control" step="0.01" required />
    </div>

    <div class="col-md-3">
        <label asp-for="CFOPId" class="form-label"></label>
        <select asp-for="CFOPId" class="form-control" asp-items="ViewBag.CFOPs">
            <option value="">Selecione CFOP</option>
        </select>
    </div>

    <!-- Seção de Impostos -->
    <div class="col-md-3">
        <label asp-for="IcmsBase" class="form-label">% ICMS</label>
        <input asp-for="IcmsBase" class="form-control" step="0.01" />
    </div>

    <div class="col-md-3">
        <label asp-for="PisBase" class="form-label">% PIS</label>
        <input asp-for="PisBase" class="form-control" step="0.01" />
    </div>

    <div class="col-md-3">
        <label asp-for="CofinsBase" class="form-label">% COFINS</label>
        <input asp-for="CofinsBase" class="form-control" step="0.01" />
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Adicionar Item</button>
        <a asp-action="Details" asp-route-id="@Model.PurchaseOrderId" class="btn btn-secondary">Voltar para Nota</a>
    </div>
</form>

            </div>
        </div>
    </div>
</div>
<div>
<button type="button" class="btn btn-success" 
        data-bs-toggle="modal" 
        data-bs-target="#nfeProducts"
        onclick="prepareMovementModal()">
    <i class="fas fa-plus me-2"></i>Inserir NFe
</button>
</div>