* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#overlay {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 1s ease-out;
}

#progress {
    width: 0;
    height: 5px;
    background: #fff;
    transition: width 0.2s;
}

#progstat {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}